*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 200vh;
    width: 100%;
    background: #000;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: palevioletred;
    font-size: 2.3rem;
}

.sub-heading{
    max-width: 70rem;
    text-align: center;
    margin: 150px;
    line-height: 3rem;
    font-size: 2.3rem;
    margin-bottom: 6rem;
}

.arrow{
    width: 55px;
    height: 55px;
    border: 4px solid palevioletred;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    margin: auto;
    transition: ease-in;
    animation: bounce 1.5s infinite;
}

.arrow::before{
    content: "";
    position: absolute;
    top: 13px;
    left: 15px;
    width: 14px;
    height: 14px;
    border-left: 3px solid palevioletred;
    border-bottom: 3px solid palevioletred;
    transform: rotate(-45deg);    
}

@keyframes bounce {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translate(15px);
    }
    0%{
        transform: translate(0);
    }
}

.fade-in{
    opacity: 1;
    transition: 1s all ease-in;
}

.fade-out{
    opacity: 0;
    transition: 1s all ease-out;
}
