*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background{
    /* background-image: url(bg.jpg); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */

    background: url(bg.jpg) no-repeat center center/cover;
    
    position: absolute;    
    width: calc(100vw);
    height: calc(100vh);
    z-index: -1;
    filter: blur(0);
}

.loading-text{
    font-size: 7rem;
    color: aliceblue;
}

.loading-text::selection{
    display: none;
}